/* General */
body {
  padding-top: 70px;
  padding-bottom: 70px;
}

h1,
h2,
h3,
.center {
  text-align: center;
}

.row {
  padding: 10px;
  display: flex;
}

.animated {
  animation-duration: 0.75s;
}

/* Navbar */
.navbar img {
  height: 50px;
  padding: 5px;
}

/* Jumbotrons */
.jumbotron {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
}

.jumbotron img {
  max-width: 100%;
  max-height: 200px;
}

.jumbotron-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
}

#jumbo-index {
  background-image: url("media/bg-home.jpg");
}

#jumbo-about {
  background-image: url("media/team.jpg");
}

/* Big glyph */
.glyph-cont {
  font-size: 750%;
  text-align: center;
}

/* Forms with border */
.form {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
}

/* index.php */
#eialogo {
  max-width: 300px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

/* about.php */
.media img {
  max-height: 150px;
  border-radius: 10px;
}

/* app/index.php */
.bigbtn {
  width: 100%;
  height: 100%;
}
